style.css

body {
	margin: 0;
}

a:hover {
	color: white;
}

#megaphone {
	position: absolute;
	z-index: -3;
}

/*aesthetics, classes and titles*/

body {
	background-color: rgb(1, 1, 25);
}
.mobile_gif {
	display: none;
}
#title {
	position: absolute;	
	display: block;
	top: 49%;
	z-index: 4;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 20%;
	transition: width 1s ease-in-out;
}


.breaks {
	display: none;
}
.breaks2 {
	display: none;
}
.number {
	opacity: 0;
	position: absolute;
	display: inline-block;
	transition: width 1s;
}
.number:hover {
	opacity: 1;
	width: 40%;
}

/*numbers by id + gifs*/

#half {
	right: 1%;
	top: 55%;
	transform: rotate(10deg);
}
#half-gif {
	display: none;
}
#half:hover + #half-gif {
	display: block;
}
#two {
	bottom: 0.1%;
	left: 33%;
}
#two-gif {
	display: none;
}
#two:hover + #two-gif {
	display: block;
}
#four {
	top: 1%;
	left: 5%;
	transform: rotate(8deg);
}
#four-gif {
	display: none;
}
#four:hover + #four-gif {
	display: block;
}
#ten {
	right: 2%;
	top: 1%;
}
#ten-gif {
	display: none;
}
#ten:hover + #ten-gif {
	display: block;
}
#twenty-three {
	top: 20%;
	transform: rotate(2deg);
}
#twenty-three-gif {
	display: none;
}
#twenty-three:hover + #twenty-three-gif {
	display: block;
}
#thirty-five {
	font-family: Futura, sans-serif;
	font-size: 10%;
	top: 15%;
	left: 23%;
	transform: rotate(-10deg);
}	
#thirty-five-gif {
	display: none;
}
#thirty-five:hover + #thirty-five-gif {
	display: block;
}
#fourty-three {
	left: 3%;
	top: 70%;
	transform: rotate(-8deg);
}
#fourty-three-gif {
	display: none;
}
#fourty-three:hover + #fourty-three-gif {
	display: block;
}
#seventy-one {
	left: 23%;
	top: 58%;
	transform: rotate(3deg);
}
#seventy-one-gif {
	display: none;
}
#seventy-one:hover + #seventy-one-gif {
	display: block;
}
#eighty-two {
	top: 57%;
	left: 1%;
}
#eighty-two-gif {
	display: none;
}
#eighty-two:hover + #eighty-two-gif {
	display: block;
}
#one-twenty {
	top: 5%;
	right: 35%;
}
#one-twenty-gif {
	display: none;
}
#one-twenty:hover + #one-twenty-gif {
	display: block;
}
#two-hundred {
	bottom: 23%;
	right: 25%;
}
#two-hundred-gif {
	display: none;
}
#two-hundred:hover + #two-hundred-gif {
	display: block;
}
#two-four-six {
	top: 22%;
	right: 10%;
	transform: rotate(3deg);
}
#two-four-six-gif {
	display: none;
}
#two-four-six:hover + #two-four-six-gif {
	display: block;
}
#seven-fifty {
	top: 78%;
	right: 10%;
	transform: rotate(-10deg);
}
#seven-fifty-gif {
	display: none;
}
#seven-fifty:hover + #seven-fifty-gif {
	display: block;
}
#footnote {
	position: absolute;
	bottom: 1%;
	color: grey;
	font-family: Futura, Gill Sans, sans-serif;
	font-size: 60%;
}

