style.css
body {
	margin: 0;
	background-color: black;
}
body {
	background-color: black;
}

.process {
	display: block;
	margin: 0 auto;
	padding: 2%;
}
a {
	display: block;
	position: fixed;
	top: 45%;
}
.right {
	left: 88%;
}
.left {
	left: 4%;
}

.screenshot {
	border:1px solid white;
	padding: 0;
}
.wide {
	width: 70%;
}
#tablet {
	width: 40%;
}