style.css

body {
	margin: 0;
	background-color: black;
}
body {
	background-color: black;
}

img {
	display: block;
	position: absolute;
}

/*320, 480, 600, 768, 1024 px*/

@media (hover: hover) {
.still {
	z-index: 2;
	opacity: 1;
}
.move {
	z-index: 1;
	opacity: 0;
}
.still:hover {
	opacity: 0;
}
.still:hover + .move {
	opacity: 1;
}
}

@media (hover: none) {
.still {
	opacity: 0;
}
}

/*image position*/

.collection {
	left: 35%;
	top: 13%;
	transform: rotate(-50deg);
}
.lizard {
	left: 58%;
	top: -48%;
}
.fortune {
	left: 8%;
	top: 32%;
}
.alive {
	transform: rotate(-20deg);
	left: 5%;
	bottom: 3%;
}
.proximity {
	left: 10%;
	top: 0%;
}
#paper-gif {
	bottom: 0%;
	right: 0%;
}
#paper {
	right: 14%;
	bottom: 12%;
	transform: rotate(8deg);
}
#paper2 {
	right: 14%;
	bottom: 12%;
	transform: rotate(28deg);
}
#paper3 {
	right: 14%;
	bottom: 8%;
	transform: rotate(-38deg);
}
.butterfly {
	bottom: 5%;
	left: 44%;
}
.hand {
	left: 55%;
	top: 30%;
}
.poem {
	top: 60%;
	left: 34%;
	transform: rotate(-115deg);
}

/*LIVE animation*/

.hide {
	z-index: 3;
}
.hide:hover + .alive {
	animation: move linear 4s;
	animation-fill-mode: forwards;
}

@keyframes move {
	0% {
		left: 5%;
		bottom: 7%;
		width: 35%;
	}
	70% {
		left: 50%;
		bottom: 60%;
		transform: rotate(-40deg);
		width: 5%;
	}
	80% {
		left: -20%;
		bottom: 0%;
		
		width: 10%;
	}
	100% {
		left: 5%;
		bottom: 7%;
		width: 35%;
	}

}


/*correct foreground-background*/
#lizard {
	z-index: 4;
}
#lizard-gif {
	z-index: 3;
}
#alive {
	z-index: -2;
}
#paper {
	z-index: 6;
}
#paper-gif {
	z-index: -3;
}
#proximity {
	z-index: -1;
}
#proximity-gif {
	z-index: -2;
}
#hand {
	z-index: 7;
}
#hand-gif {
	z-index: 6;
}
#butterfly {
	z-index: -1;
}
#butterfly-gif {
	z-index: -2;
}